{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="content">

        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6" id="banner">
                <h3>Other's Lists</h3>
                <p class="small_text">※公開設定された投稿のみ表示されます。</p></div>
            </div>
        </div>

        <div class="row">
            {% for v in lists %}
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 list_heading3">
                    <a href="{% url 'list:detail' pk=v.id %}">
                        {{ v.title }}<div class="hidden-sm hidden-xs list_created_at">登録ユーザー：{{ v.user.profile.name }}</div>
                    </a>
                </div>
            {% empty %}
                <p>リストが登録されていません</p>
            {% endfor %}
            
        </div>

    </div>
</div>

{% endblock %}